<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Prototype Quicker App")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
</head>
<body>
    <header class="navbar navbar-inverse" role="banner" ng-if="!layout ">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./" class="navbar-brand">Loan Analytics App</a>
            </div>
            <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./about">About</a>
                    </li>
                    <li>
                        <a href="./contacts">Contacts</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./login">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="jumbotron" ng-if="layout ">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="text-center">Loan Analytics User Authentication</h2>
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="~/Scripts/vendor/angular-cookies.js"></script>
    @Scripts.Render("~/js/app")
    <script src="~/Scripts/flash.service.js"></script>
    <script src="~/Scripts/user.service.local-storage.js"></script>
    <script src="~/Scripts/authentication.service.js"></script>
    <script src="~/Scripts/customLoanDirectives.js"></script>
</body>
</html>